body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #12131a;
	text-align: left;
	background-color: #fff;
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn,
	.ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard>.actions a
	{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	margin: 0;
	opacity: 0;
	padding: 8px 12px;
}

.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 6px 12px;
	line-height: 1.5;
	color: #495057;
	background-color: rgba(158, 158, 158, 0.13);
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-bottom: 0;
	overflow: hidden;
	line-height: 25px !important;
	display: inline-block;
}

#formUploadFile .custom-file, #formUploadFile .custom-file .custom-file-input,
	#formUploadFile .custom-file label.custom-file-label {
	height: 200px;
	width: 100%;
}

#formUploadFile .custom-file label.custom-file-label {
	border-color: rgba(23, 198, 192, 0.35);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	background: repeating-linear-gradient(45deg, rgba(24, 199, 193, 0.05),
		rgba(23, 199, 192, .1) 10px, #ffffff 10px, #ffffff 20px);
}

#output, #docPreview, #preview-img {
	width: 100%;
	height: calc(100vh - 209px);
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	display: none;
	overflow: auto;
}

.btn {
	line-height: 19px !important;
}

body:not(.login-page) .content-wrapper {
	height: calc(100vh - 100px);
	min-height: 1px;
	padding: 1.0rem 1.0rem;
	overflow: auto;
	position: relative;
	z-index: 11;
}

.open-add-folder-form .content-wrapper {
	z-index: 10;
}

.hide-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F6F8FA;
	z-index: 5;
	display: none;
}

.card-body {
	padding: 1.0rem !important;
}

.card-title {
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
}

.sidebar {
	min-height: 0 !important;
	z-index: 12;
}

.content-wrapper {
	background: #F3f3f3;
}

.footer {
	padding: 10px 1rem !important;
	background: #ffffff;
	border: 1px solid #f3f3f3;
}

i.menu-icon {
	font-size: 16px;
}

#mainAppWrapper {
	background: white;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2001;
}

.loading-wrapper {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1053;
}

.spinner {
	text-align: center;
	position: absolute;
	top: calc(50% - 42px);
	left: calc(50% - 80px);
	background: #fff;
	padding: 30px 50px;
	border-radius: 4px;
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #2196F3;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.img-responsive {
	max-width: 100%;
}

#historyContent {
	overflow: auto;
	max-height: calc(100vh - 201px);
}

.icon-clock {
	color: red;
}

i.menu-icon {
	cursor: pointer;
	font-weight: bold;
}

#viewPdf {
	height: calc(100vh - 158px);
}

.viewImgClass {
	height: calc(100vh - 148px);
	overflow: auto;
}

.modal-width-50 {
	max-width: 50%;
}

.modal-width-75 {
	max-width: 75%;
}

.modal-width-90 {
	max-width: 90%;
}

.form-control {
	border-color: #e1e1e1;
}

.sidebar .nav .nav-item.active>.nav-link, .sidebar .nav .nav-item.active>.nav-link:hover
	{
	background: #F6F8FA !important;
	color: #000 !important;
	border: 1px solid;
	border-color: #efefef;
	border-left: 0;
	border-right: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
	.select2-container--default .select2-selection--single,
	.select2-container--default .select2-dropdown,
	.select2-container--default .select2-selection--multiple {
	border-color: #d8d8d8;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
	.select2-container--default.select2-container--focus .select2-selection--single,
	.select2-container--default.select2-container--open .select2-selection--multiple,
	.select2-container--default.select2-container--open .select2-selection--single
	{
	border-color: #80bdff;
}

.select2-results__option[aria-selected=true] {
	display: none;
}
/*.card{
    border: 1px solid #e8e8e8;
    box-shadow: 3px 3px 5px #e8e8e8;
}*/
#workflowContent .alert {
	padding: .4rem 0.5rem;
	margin-bottom: 0.25rem;
}

#workflowContent .alert-primary {
	border-color: #b8e7fc;
}

.add-block {
	margin: 0 !important;
	font-weight: bold;
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 12px;
	right: 5px;
}

#workflowContent .alert:hover .add-block {
	opacity: 1;
}

#loginModal .modal-dialog {
	max-width: 355px;
	margin: 56px auto;
}

.form-check label .input-helper:before, .form-radio label input+.input-helper:before,
	.form-radio label input:checked+.input-helper:before {
	border-color: #dadada;
}

.inline-radio, .inline-checkbox {
	display: inline-block;
	margin: 0 20px 0 0;
}

.form-check .form-check-label, .form-radio .form-check-label {
	padding-left: 23px;
}

.condition-row {
	transition: all 0.5s;
	transform: scale(0);
	height: 0;
}

#amountRow {
	transform: scale(1);
	height: initial;
}

.down-arrow-img {
	padding: 2px;
}

.wf-block {
	position: relative;
	border: 1px dashed transparent;
}

.wf-block .icon-close {
	color: red;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
	z-index: 1;
}

.wf-block .icon-note {
	color: #00c292;
	font-weight: bold;
	position: absolute;
	top: 2px;
	right: 22px;
	display: none;
	cursor: pointer;
	font-size: 12px;
	z-index: 1;
}

.wf-block:hover {
	border-color: rgba(255, 0, 0, 0.4);
}

.wf-block:hover .icon-close, .wf-block:hover .icon-note {
	display: block;
}

.spacer {
	padding: 10px 0;
	width: 25%;
	margin: 0 auto;
}

.custom-title {
	border-bottom: 1px double #cbb9ec;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.log-box {
	border: 1px solid #e4e4e4;
	margin-bottom: 20px;
	padding: 0 5px;
	height: 200px;
	background: #fff;
	overflow: auto;
}

.log-box p {
	margin-bottom: 2px;
	font-size: 13px;
}

span.date {
	color: red;
	margin-right: 3px;
	font-style: italic;
}

span.voucher-no {
	color: #03a9f3 !important;
	font-weight: bold;
}

.sidebar .nav.sub-menu {
	margin-bottom: 0;
	padding: 0 0 0 2rem;
}

.sidebar-icon-only .sidebar .nav.sub-menu {
	margin-bottom: 0;
	padding: 0rem;
}

.sidebar-icon-only .sidebar .nav .nav-item.active {
	background: transparent;
}

.custom-fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #e1e1e1;
	margin-bottom: 15px;
	padding: 0 10px;
	background: #fff;
}

.custom-fieldset legend {
	display: inline-block;
	width: auto;
	padding: 0 10px;
	font-size: 16px;
	margin-bottom: 0;
}

.d-inline-block .form-check {
	display: inline-block;
	margin-right: 30px;
	margin-top: 0;
}

.sidebar .nav .has-child .nav-item.active>.nav-link, .sidebar .nav .has-child .nav-item.active>.nav-link:hover
	{
	background: transparent !important;
	border: 0;
}

.sidebar-dark .navbar .navbar-brand-wrapper {
    background: #fff;
}
.sidebar-dark .sidebar .nav .nav-item.active>.nav-link, .sidebar-dark .sidebar .nav .nav-item.active>.nav-link:hover {
    background: #1D2B36 !important;
    color: #fff !important;
    border-color: #1D2B36;
}
.sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    background: #1D2B36;
    color: #ffffff;
}

.table-responsive {
	/* min-height: 250px !important; */
	
}

.condition-para {
	margin: 0;
	z-index: 0;
	background: #fff;
	text-align: center;
	position: relative;
	padding: 23px 0;
}

.condition-para:before {
	content: '';
	position: absolute;
	top: 0;
	background: black;
	width: 2px;
	height: 100%;
	left: calc(50% - 1px);
	z-index: -1;
}

.condition-para:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: calc(50% - 7px);
	z-index: -1;
	border: 7px solid black;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.condition-span {
	background: #fff;
	padding: 3px 7px;
	box-shadow: 0px 0px 2px 1px #9c9c9c;
	display: inline-block;
}

.tab-basic .nav-item .nav-link.active {
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}

.tab-content-basic {
	border: 1px solid #ddd;
	background: #fff;
	padding: 15px;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
	content: none;
}

#vndrInvcTblWrapper {
	overflow: auto;
	max-height: 300px;
}

#stxEntryContent, #blockedVoucherTblWrapper {
	overflow: auto;
	max-height: 400px;
}

/* .th-bg thead tr th{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
} */
div#newFolderForm {
	position: absolute;
	top: 360px;
	right: -315px;
	border: 1px solid rgba(0, 0, 0, 0.16);
	background: rgba(255, 255, 255, 1);
	padding: 10px;
	box-shadow: 1px 1px 5px 0px #adadad;
	transition: all 0.5s;
	opacity: 0;
	z-index: 0;
}

div#newFolderForm.show {
	opacity: 1;
	right: -265px;
}

div#newFolderForm:before {
	content: '';
	border: 8px solid #cecece;
	position: absolute;
	top: 10px;
	left: -17px;
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.swal2-modal {
	min-height: 200px;
}

.swal2-popup .swal2-styled {
	padding: .5em 1em;
}

.swal2-modal .swal2-title {
	font-size: 20px;
}

table td i {
	padding: 0 2px;
}

button.approve, button.reject {
	padding: 7px 10px 5px;
}

div#newFolderForm .icon-close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-weight: bold;
	color: red;
	cursor: pointer;
	z-index: 1;
}

.edit-approve-form .input-group-text {
	min-width: 116px;
	font-size: 14px;
	padding: 5px 8px;
}

.acct-dist-wrapper {
	border: 1px solid #d6d5d5;
	padding: 0 20px;
	margin-bottom: 15px;
	background: #fff;
	position: relative;
}

.logs-wrapper {
	background-color: #e9ecef;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dotted #d0d0d0;
}

.modal-header {
	border-bottom: 1px solid #dcdcdc;
}

#editViewImage {
	border: 1px solid lightgray;
}

#editDataModal .nav-link {
	padding: 10px 20px;
}

#tab-content-text pre {
	border: 1px solid lightgray;
	padding: 5px;
	height: 700px;
	margin: 0px;
	overflow-y: scroll;
}

.input-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.input-group-prepend {
	margin-right: -1px;
}

.input-group-append, .input-group-prepend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-group>.input-group-append:last-child>.btn:not (:last-child ):not
	 (.dropdown-toggle ), .input-group>.input-group-append:last-child>.input-group-text:not
	 (:last-child ), .input-group>.input-group-append:not (:last-child )>.btn,
	.input-group>.input-group-append:not (:last-child )>.input-group-text,
	.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #e1e1e1;
	border-radius: .25rem;
}

#costReconModal, #invcBlockConfirmModal, #viewACHFileModal {
	background: rgba(0, 0, 0, 0.5);
}

#costReconModal .table-responsive {
	max-height: calc(50vh - 132px);
}
/*#costReconModal .table, #costReconModal .table th, #costReconModal .table td {
    border: 1px solid #d6d6d6;
    border-collapse: collapse;
}*/
#costReconModal .table thead th {
	background: rgba(75, 157, 243, 0.17);
}

.cost-recon {
	padding: 8px 0px 8px 6px;
	cursor: pointer;
	color: #009688;
	font-weight: 700;
	font-size: 18px;
}

.tooltip {
	z-index: 100000000;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122
		, 153, 217)), color-stop(0.72, rgb(73, 125, 189)),
		color-stop(0.86, rgb(28, 58, 148)));
}

/* Temp Changes 
#tab-ocr-dash, #tab-ach-dash {
    display: none;
}*/
.edit-approve-form .text-danger {
	display: block;
	width: 100%;
	margin: 0;
	text-align: right;
}

.table th, .table td {
	font-size: 13px;
}

.icon-pointer, .btn {
	cursor: pointer;
}

.td-center {
	text-align: center;
}

.tr-height {
	height: 60px;
}

.thead-clr, thead tr {
	background: #ebebeb;
	border: 1px solid #ebebeb;
}

.table-border {
	border: 1px solid #ebebeb;
}

.table thead tr:nth-child(2) th .form-control {
	height: initial;
	padding: 7px 5px !important;
	border-radius: 4px;
}

.table thead tr:nth-child(2) th {
	padding: 4px;
}

.tbl-no-records {
	text-align: center;
	font-weight: bold;
}

#doc-thmbnl p {
	font-size: 12px;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

#doc-thmbnl .img-thumbnail {
	margin-bottom: 8px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #fb9678;
	padding: 10px;
}

.icon-doc {
	color: #fb9678;
	font-weight: bold;
}

.modal-content {
	background-color: white;
}

.custom-select2-wrapper {
	width: calc(100% - 116px);
}

.custom-select2-wrapper-po {
	width: calc(92% - 116px);
}

#editDataModal .custom-select2-wrapper {
	width: calc(100% - 116px) !important;
}

span.select2-selection.select2-selection--single {
	width: 100% !important;
}

.gl-form-wrapper {
	position: absolute;
	padding: 20px 15px 15px 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 22;
	width: 700px;
	left: 267px;
	top: -180px;
	background: #ffffff;
	display: none;
}

.gl-form-wrapper:before {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 0;
	box-sizing: border-box;
	transform-origin: 0 0;
	border: 7px solid black;
	border-color: transparent transparent #fff #fff;
	transform-origin: 0 0;
	transform: rotate(45deg);
	box-shadow: -3px 3px 3px 0 #e3e3e3;
}


.gl-form-wrapper-ap {
	position: absolute;
	padding: 20px 15px 15px 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 22;
	width: 458px;
	left: 413px;
	top: -251px;
	background: #ffffff;
	display: none;
}

.gl-form-wrapper-ap:before {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 0;
	box-sizing: border-box;
	transform-origin: 0 0;
	border: 7px solid black;
	border-color: transparent transparent #fff #fff;
	transform-origin: 0 0;
	transform: rotate(45deg);
	box-shadow: -3px 3px 3px 0 #e3e3e3;
}


.gl-form-wrapper-addtn {
	position: absolute;
	padding: 20px 15px 15px 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 22;
	width: 458px;
	left: 221px;
	top: 20px;
	background: #ffffff;
	display: none;
}

.gl-form-wrapper-addtn:before {
	content: "";
	position: absolute;
	bottom: 38px;
	left: 0;
	box-sizing: border-box;
	transform-origin: 0 0;
	border: 7px solid black;
	border-color: transparent transparent #fff #fff;
	transform-origin: 0 0;
	transform: rotate(45deg);
	box-shadow: -3px 3px 3px 0 #e3e3e3;
}

#glTable th {
	background: #e9ecef;
}

.select2-results__options {
	font-size: 12px;
}

.icon-red {
	color: red;
}

.modal-header .close {
	cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-header .close span {
	font-size: 24px;
	font-weight: bold;
	color: red;
}

.hide-imp {
	display: none !important;
}

.btn.btn-xs {
	padding: 0.25rem 0.75rem;
	font-size: 0.7rem;
}

.small-font {
	font-size: 0.725rem;
}

div#loginModal {
	background: rgba(0, 0, 0, 0.8);
}

.gl-form-wrapper {
	position: absolute;
	padding: 20px 15px 15px 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 22;
	width: 700px;
	left: 267px;
	top: -245px;
	background: #ffffff;
	display: none;
}

#adminListWrapper {
	position: absolute;
	width: 450px;
	right: 0px;
	top: 37px;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px #009688;
	z-index: 22;
	color: #12131a;
	display: none;
}

#adminListWrapper:before {
	top: 0px;
	content: "";
	position: absolute;
	right: 19px;
	box-sizing: border-box;
	transform-origin: 0 0;
	border: 7px solid black;
	border-color: transparent transparent #009688 #009688;
	transform-origin: 0 0;
	transform: rotate(135deg);
}

.admUsrWrap {
	width: calc(100% - 101px);
}

#adminListWrapper span.input-group-text {
	font-size: 13px;
}

#adminListWrapper .table-responsive {
	max-height: 250px;
	overflow: auto;
}

#adminListWrapper .input-group-append .input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring {
	margin-bottom: 20px;
	font-size: 12px;
}

.swal2-popup .swal2-actions {
	margin: 1em auto 0;
}

#blockModal

	

select


.form-control


:not

 

(
[
size
]

 

)
:not

 

(
[
multiple
]

 

)
{
height


:

 

33
.91px


;
}
.h-32 {
	height: 32px;
}

.h-39 {
	height: 39px;
}

.w-105p {
	width: 105px;
}

#amountType {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}
/* For IE10 */
#amountType::-ms-expand {
	display: none;
}

.table-hover tbody tr:hover {
	background-color: #F6F8FA;
}

tr.active-tr, .table-hover tbody tr.active-tr:hover {
	background: #c3daff;
}

.table thead th {
	background-color: rgba(199, 211, 216, 0.15);
}

span.ach-logo {
	color: #508eca;
	font-size: 24px;
}

#addUpdateVendorDiv, #invcDrpActns, #aipCreateGroupArea,
	#senderAIPSnglPropPndgData, #senderAIPSnglPropBlockData,
	#senderAIPSnglPropAprvdData, #addUpdateBankSetup, #vndrInvcTblWrapper {
	display: none;
}

.heading-right-button {
	float: right;
	margin-top: -3px;
}

.btn.btn-sm {
	line-height: initial !important;
	padding: 0.35rem 0.5rem;
	font-size: 0.75rem;
}

.c-pointer {
	cursor: pointer;
}

.form-control {
	line-height: 19px;
	border-radius: 3px;
}

.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	min-height: 39px;
	user-select: none;
	-webkit-user-select: none;
}

.row-bg-danger {
	background-color: rgba(251, 150, 120, 0.5) !important;
}

.row-bg-primary {
	background-color: rgba(3, 169, 243, 0.5) !important;
}

/*.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}*/
.select2-container--default .select2-selection--single .select2-selection__arrow
	{
	height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	line-height: 19px;
}

#bankSetupForm .tab-content {
	border-top: 0;
	border-color: #03a9f3;
}

#bankSetupForm .nav-tabs {
	border-color: #03a9f3;
}

#bankSetupForm .nav-tabs .nav-link.active, #bankSetupForm .nav-tabs .nav-link.active:hover,
	#bankSetupForm .nav-tabs .nav-item.show .nav-link:hover, #bankSetupForm .nav-tabs .nav-item.show .nav-link
	{
	border-color: #03a9f3 #03a9f3 #fff;
	color: #03a9f3;
}

#bankSetupForm .nav-tabs .nav-link:hover {
	border-color: #e9ecef #e9ecef #03a9f3;
}

#blockedVouchersArea .card-body {
	background: #fff;
	color: initial;
}

#filterVoucherResults .card.accordion-inverse-danger {
	border: 1px solid rgba(251, 150, 120, 0.16);
}

.mh-300 {
	max-height: 300px;
	overflow: auto;
}

.mh-400 {
	max-height: 400px;
	overflow: auto;
}

.mh-500 {
	max-height: 500px;
	overflow: auto;
}

.badge.view-ach-file {
	background: #c3c3c3;
	border: 1px solid #c3c3c3;
	color: #fff;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
	margin-right: 0.75rem !important;
}

div#stxEntryContent table {
	min-height: 175px;
}

.edit-auto-invc-pymnt {
	font-size: 16px;
}

#upldDocTblWrapper {
	display: none;
}

.tab-minimal-custom .nav-tabs .nav-item .nav-link {
	border-bottom: 2px solid #dddddd;
	margin-right: 5px;
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.tab-minimal-custom .nav-tabs .nav-item .nav-link.active {
	border-color: #03a9f3;
}

.tab-minimal-custom .tab-content {
	border: 0;
	padding: 0;
}

.tab-minimal-custom .badge {
	padding: .1rem 0.375rem;
}

.fs-22 {
	font-size: 22px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-16 {
	font-size: 16px;
}

.fs-14 {
	font-size: 14px;
}

#dashboard .nav-tabs .nav-link.active, #dashboard .nav-tabs .nav-item.show .nav-link
	{
	background-color: transparent;
}

.onoffswitch {
	position: relative;
	width: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #eaeaea;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 25px;
	padding: 0;
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "STX";
	padding-left: 7px;
	background-color: #007BFF;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "APP";
	padding-right: 7px;
	background-color: #343a40;
	color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 17px;
	margin: 6px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	border: 2px solid #aeaeae;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	width: 15px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.onoffswitch-inner.user-status-type:before {
	content: "Yes";
}

.onoffswitch-inner.user-status-type:after {
	content: "No";
}

.user-active-inactive-wrapper .onoffswitch {
	width: 60px;
}

.user-active-inactive-wrapper .onoffswitch-label {
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	right: 35px;
	margin: 5px;
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-inner:after {
	background-color: #b1b1b1;
}

.second-level-modal {
	background: rgba(0, 0, 0, 0.25);
}

.third-level-modal {
	background: rgba(0, 0, 0, 0.5);
}

.display-none {
	display: none;
}

#menuList {
	margin-top: -5px !important;
	border: 1px solid #fff;
}

#rightNotify, #popupNotify {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 400px;
	z-index: 1051;
	background-color: #fff;
	border-radius: 0.25rem;
}

#rightNotify .alert, #popupNotify .alert {
	margin-bottom: 0 !important;
}

.nav.nav-pills.nav-justified .nav-item .nav-link {
	display: block;
}

.nav-pills.nav-justified .nav-link.active {
	color: #fff;
	background-color: #007bff;
}

#previewCol {
	display: none;
}

div#tabPaneInProcess, div#tabPanePaid {
	max-height: calc(100vh - 314px);
	overflow: auto;
	padding-right: 10px;
}

.auth.register-full-bg {
	background: url('../images/login_bg.jpg');
	background-size: cover;
}

.align-items-center, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
	.loader-demo-box, .list-wrapper ul li, .email-wrapper .message-body .attachments-sections ul li .thumb,
	.email-wrapper .message-body .attachments-sections ul li .details .buttons
	{
	align-items: center !important;
}

.flex-column, .content-wrapper, .email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user
	{
	flex-direction: column !important;
}

.auth .auth-form-light {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19);
}

.spin-it {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@
-webkit-keyframes spin { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

100%{
-webkit-transform




:rotate(360deg)




;
transform




:rotate(360deg)




;
}
}
@
-moz-keyframes spin { 0%{
	-moz-transform: rotate(0);
	transform: rotate(0);
}

100%{
-moz-transform




:rotate(360deg)




;
transform




:rotate(360deg)




;
}
}
@
-o-keyframes spin { 0%{
	-o-transform: rotate(0);
	transform: rotate(0)
}

100%{
-o-transform




:rotate(360deg)




;
transform




:rotate(360deg)




;
}
}
@
keyframes spin { 0%{
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

100%{
-webkit-transform




:rotate(360deg)




;
-moz-transform




:rotate(360deg)




;
-o-transform




:rotate(360deg)




;
transform




:rotate(360deg)




;
}
}
.display-none {
	display: none;
}

.display-block {
	display: block
}

#loadingLoginWrapper {
	background-color: #03a9f3;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	padding: 15px 0;
}

#retrieve .tab-content .tab-pane>.table-responsive {
	max-height: calc(100vh - 225px);
}

span.fill-circle {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	padding: 0px;
}

#ssnDataTblWrapper, #custChecksTblWrapper, #arPymntTblWrapper,
	#arEnqryTblWrapper, #arOpenItemsTblWrapper {
	/* max-height: calc(100vh - 451px); */
	max-height: calc(100vh - 288px);
	overflow: auto;
}

.back-btn {
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}

tr.trans-header {
	padding: 10px 7px;
}

tr.trans-header td {
	padding: 15px;
	font-size: 14px;
}

.trans-header i.accordian-icon {
	font-weight: 800;
	color: #03a9f3 !important;
	cursor: pointer;
	display: inline-block;
	transition: all ease-in-out 0.5s;
}

.rotate-180 {
	transform: rotate(180deg);
}

.inner-trans-data-wrapper {
	border: 1px solid #f6f6f6;
	max-height: calc(100vh - 257px);
	overflow: auto;
	border-top: 0;
	margin-bottom: 10px;
	display: none;
}

.inner-trans-data-wrapper table thead tr th {
	background: #f6f6f6;
}

#crtSsnCashRcptModal blockquote.blockquote-primary.card {
	border: 1px solid #03a9f3;
}

#pymntMthdTblWrapper {
	max-height: 145px;
	overflow: auto;
}

#pymntMthdTblWrapper .table th, #pymntMthdTblWrapper .table td {
	padding: 0.5rem;
}

#stxEntryContent .table td {
	padding: 0.5rem;
}

#stxEntryContent .select2-container--default .select2-selection--single,
	#stxEntryContent .form-control {
	padding: 0.25rem 0.5rem;
}

#stxEntryContent .select2-container--default .select2-selection--single .select2-selection__arrow
	{
	height: 26px;
}

#stxEntryContent .select2-container .select2-selection--single {
	min-height: 29px;
}

.fixed-footer-btn, #proposalActnButtons {
	position: fixed;
	bottom: 41px;
	left: 245px;
	width: calc(100% - 230px);
}

.fixed-footer-btn .card, #proposalActnButtons .card {
	background-color: #ffffff;
	border: 1px solid #ddd;
}

#adtnlInfoSection .input-group-text {
	min-width: 80px;
	font-size: 14px;
	padding: 5px 8px;
}

#adtnlInfoSection .input-group-text {
	min-width: 80px;
	font-size: 14px;
	padding: 5px 8px;
}

#adtnlInfoSection .input-group-text {
	min-width: 98px;
}

#adtnlInfoSection .custom-select2-wrapper {
	width: calc(100% - 98px);
}

button:disabled {
	cursor: not-allowed;
}

#vendorGlForm .input-group-text {
	min-width: 98px;
}

tbody#vndrGlTbody td {
	padding: 5px;
}

tbody#vndrGlTbody i {
	font-size: 1rem;
}

/* The switch - the box around the slider */
.toggle-wrapper .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.toggle-wrapper .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.toggle-wrapper .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle-wrapper .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle-wrapper input:checked+.slider {
	background-color: #2196F3;
}

.toggle-wrapper input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

.toggle-wrapper input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.toggle-wrapper .slider.round {
	border-radius: 34px;
}

.toggle-wrapper .slider.round:before {
	border-radius: 50%;
}

.toggle-wrapper.invc-fltr .switch {
	width: 40px;
	height: 20px;
}

.toggle-wrapper.invc-fltr .slider:before {
	height: 12px;
	width: 12px;
}

.toggle-wrapper.invc-fltr input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.toggle-wrapper.invc-fltr  input:checked+.slider {
	background-color: #03a9f3;
}

.toggle-wrapper.invc-fltr .slider {
	background-color: #00c292;
}

body.cstm-login-page {
	background: #f3f3f3;
}

.line-on-side {
	border-bottom: 1px solid #DADADA;
	line-height: .1em;
	margin: 10px 0 20px;
}

.line-on-side span {
	background: #FFF;
	padding: 0 10px;
}

.cstm-login-page .auth form .form-group i {
	position: absolute;
	left: 18px;
	right: unset;
}

.cstm-login-page .auth form .form-group .form-control {
	border: 1px solid #D4D4D4;
	color: #5A5A5A;
	padding: 8px 24px 8px 50px;
	line-height: 29px;
	border-radius: 4px;
}

.cstm-login-page .auth-form-light {
	width: 400px;
	margin: 30px auto;
}

.font-weight-800 {
	font-weight: 800;
}

@media ( min-width : 992px) {
	.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
		.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing,
		.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title
		{
		width: 225px;
	}
}

.modal-title-right-info {
	float: right;
}

.selected-row {
	background: rgb(0 123 255 / 10%);
}

.header-page-title {
	font-size: 20px;
}

#costReconTable tbody th {
	padding: 0.75rem 0.5rem;
}

#costReconTable tbody td {
	padding: 0.5rem;
}

tr.vchr-row {
	background: #f6f6f6;
}

.btn-inverse-dark.disabled, .btn-inverse-dark:disabled, .btn.disabled,
	.btn:disabled {
	border-color: #cecfd4;
}

.load-more-invc {
	position: absolute;
	right: 10px;
	top: -45px;
}

.blank-date {
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 11;
	width: 18px;
	font-size: 18px;
}

#aipCreatedTbl td a:hover {
	text-decoration: none;
}

.tablesorter-default thead .sorter-false {
	padding: 11px;
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header {
	padding: 11px 20px 11px 11px;
}

.void-check-row {
	background-color: rgb(0 0 0/ 5%);
}

.mh-350 {
	max-height: 350px;
	overflow: auto;
}

.view-posting-info {
	margin-top: 5px;
}

.nav.nav-pills .nav-item .nav-link.active.active-white {
	color: #fff;
}

.field-info {
	float: right;
	padding-top: 5px;
}

span.upd-usr-typ {
	color: #fff;
	font-size: 14px;
	width: 60px;
	display: inline-block;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
}

span.upd-usr-typ.stx {
	background-color: #007bff;
}

span.upd-usr-typ.app {
	background-color: #343a40;
}

.invc-hstry-wrapper {
	position: absolute;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 22;
	width: 650px;
	background: #ffffff;
	display: none;
}

.invc-hstry-wrapper:before {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 10px;
	box-sizing: border-box;
	border: 7px solid black;
	border-color: transparent transparent #fff #fff;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	box-shadow: -3px 3px 3px 0 #e3e3e3;
}

.close-invc-hstry {
	position: absolute;
	top: 5px;
	right: 5px;
}

.invc-hstry-wrapper.inner {
	width: 600px;
	top: 35px;
}

.invc-hstry-wrapper.inner:before {
	top: 0;
	left: 160px;
	bottom: initial;
	transform: rotate(135deg);
}

.tooltip {
	pointer-events: none !important;
}

.delete-me {
	background: rgb(255 0 0/ 0.07);
}

.c-not-allowed {
	cursor: not-allowed;
}

#syncConfigEmails {
	padding: 10px;
	border-radius: 3px;
	background: #ffffff;
	display: inline-block;
}

#syncConfigEmails.spin-it {
	border-radius: 50%;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
	margin-left: 0;
}

div#commentList {
	max-height: 350px;
	overflow: auto;
	padding-right: 5px;
}

.box-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 1;
}

.aprv-sortable-list {
	background-color: #f4f4f4;
	padding: 5px;
	border: 1px solid #eeeeee;
}

.aprv-sortable-list .card {
	margin-bottom: 4px;
}

.aprv-sortable-list .card:last-child {
	margin-bottom: 0px;
}

.aprv-sortable-list .card-body {
	padding: 10px !important;
}

.c-move {
	cursor: move;
}

.ui-state-highlight, .ui-sortable-placeholder {
	height: 40px;
	line-height: 40px;
	background: rgb(3 169 243/ 0.4);
	border-color: rgb(3 169 243/ 0.5);
	border-style: dashed;
}

.wkf-aprv-stage .breadcrumb-item+.breadcrumb-item::before {
	content: '>';
}

div#invcHstryWrapper {
	max-height: 250px;
	overflow: auto;
	padding-right: 5px;
}

.year-fltr {
	height: 32px;
}

div#innerInvcHstryWrapper {
	max-height: 250px;
	overflow: auto;
	padding-right: 10px;
}

#sendForReviewPopup {
	width: 250px;
}

#dfltWfWrapper .onoffswitch-inner:before {
	content: "";
	padding-left: 7px;
	background-color: #d2d2d2;
	color: #FFFFFF;
}

#dfltWfWrapper .onoffswitch-inner:after {
	content: "";
	padding-right: 7px;
	background-color: #03a9f3;
	color: #FFFFFF;
	text-align: right;
}

.disabled {
	cursor: not-allowed;
}

.vl {
	border-left: 6px solid green;
	height: 500px;
}

.clear-trn-tbl {
	height: calc(100vh - 526px);
	border: 1px solid lightgrey;
	overflow: auto;
}

.sel-inv-dsble-row {
	background: #eaeaea;
}

input#srcOpnItms {
    position: absolute;
    width: 250px;
    display: inline-block;
    right: 0;
    top: 11px;
}

.gl-form-wrapper-ap .input-group-text{
	
	min-width:116px;
}

.gl-form-wrapper-addtn .input-group-text{
	
	min-width:116px;
}

.disable-ok-w
{
	width: 62px;
}
.alert-dismissible .close {
    padding: 0.5rem;
}

.ven-recon-fld
{
    width: 400px;
    display: inline-block;   
}
.report-tabs .card-body{
	border: 4px double transparent;
}
.report-tabs .card-body.active{
	border: 4px double #17aef2;
    box-shadow: 1px 1px 1px #03a9f3;
    background: rgb(3 169 243 / 75%);
    color: #fff;
}
.map-ven-hght
{
	overflow: auto;
    max-height: calc(100vh - 159px);
}

.proof-size
{
	font-size:14px;
}

.doc-icons{
	width: 30px;
    position: relative;
    
}
.doc-icons .doc-type{
    position: absolute;
    top: calc(50% - 10px);
    width: 100%;
    padding: 2px 0;
    font-size: 9px;
    text-align: center;
    color: white;	
    
}

#addtnDocList .table tbody tr, #addtnStxList .table tbody tr
{
	padding: 5px;
}

#addtnDocList h6, #addtnDocList p, #addtnStxList h6, #addtnStxList p 
{
	font-size: 13px;
}

.docAddtnListMain
{
	max-height: calc(100vh - 400px);	
	overflow:auto;
}
  
.recon-bal-max {
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.add-doc-cnt-wrapper {
    position: relative;
}
.add-doc-cnt {
        position: absolute;
    top: -12px;
    right: -8px;
    font-weight: 500;
    color: #ffffff;
    background: rgb(0 123 255 / 60%);
    border-radius: 25%;
    text-align: center;
    padding: 2px 0.9px;
    width: 17px;
    font-size: 11px;
}
tr.vndr-total {
    background: #f4f4f4;
}

tr.vndr-total td {
    border-top: 1.5px #e6e6e6 solid !important;
    border-bottom: 1.5px #e6e6e6 solid !important;
}

.failed-payment-row{
	
	background: #ffe2e2;
}
table.sortable-table th{
    padding-left: 26px;
    background-color: #ddd;
}
table.sortable-table th.ascending,
table.sortable-table th.descending{
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
table.sortable-table th.ascending {
    background-image: url(../images/icon-arrow-up.svg);
}
table.sortable-table th.descending{
    background-image: url(../images/icon-arrow-down.svg);
}

.sidebar-dark .navbar .navbar-brand-wrapper {
    background: #fff;
}
.sidebar-dark .sidebar .nav .nav-item.active>.nav-link, .sidebar-dark .sidebar .nav .nav-item.active>.nav-link:hover {
    background: #1D2B36 !important;
    color: #fff !important;
    border-color: #1D2B36;
}
.sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    background: #1D2B36;
    color: #ffffff;
}