<!-- <footer class="footer"> -->
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; 2020 <a href="#">StarSoftware</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
    </div>
<!-- </footer> -->

<div class="modal fade text-left" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-5">
				<div class="mb-2 text-center text-danger">
					<i class="icon-question display-1"></i>
				</div>
				<p class="mb-4 text-danger text-center display-5">Do you really want to logout ?</p>
				<div class="text-center">
					<button type="button" id="logout" class="btn btn-danger">Yes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade text-xs-left" id="authFailed" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content text-center">				
			<div class="modal-body p-5">
				<div class="mb-2">
					<i class="icon-close display-2 text-danger"></i>
				</div>
				<h4 class="mb-2 server-err-msg text-danger">Session expired.</h4>
				<h5 class="mb-0">Redirecting to login page in <span id="redirectTime" class="text-danger">5</span> seconds.</h5>
			</div>
		</div>
	</div>
</div>