
	<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
		<!--<a class="navbar-brand brand-logo" href="index.html"><b style='color:#508eca;  font-family: Damion;font-size: 30px;'>Star</b>&nbsp;&nbsp;<img src="images/ocr.png" alt="logo" style='width:35px;'/></a>-->
		<a class="navbar-brand brand-logo" href="upld-invc.html"><b style='color:#508eca;  font-family: Damion;font-size: 30px;'>Star</b><!--  &nbsp;&nbsp;<span class="ach-logo"></span>--><img src="assets/images/finance-logo.png" alt="logo" style='width:127px; height:52px'/></a>
		<a class="navbar-brand brand-logo-mini" href="upld-invc.html"><img src="assets/images/ocr.png" alt="logo" style='width:35px;'/></a>
	</div>
	<div class="navbar-menu-wrapper d-flex align-items-center">
		<button class="navbar-toggler navbar-toggler align-self-center c-pointer" type="button" data-toggle="minimize">
			<span class="icon-menu"></span>
		</button>
		<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
			<span class="icon-menu"></span>
		</button>
		<ul class="navbar-nav">
			<li class="nav-item d-lg-block">
			    <span class="h3 header-page-title"></span>
			</li>	
		</ul>
		<ul class="navbar-nav navbar-nav-right">
			<!--  <li class="nav-item d-none d-lg-block">
	            <i class="icon-refresh text-success c-pointer font-weight-bold" id="syncConfigEmails"> Sync Emails</i>
	        </li>-->
			<li class="nav-item d-none d-lg-block" style="width: 250px;">
	            <select class="form-control select2" id="headerCmpyId" style="width: 100%"></select>
	        </li>
			<!-- <li class="nav-item dropdown d-none d-lg-flex">
				<div class='pull-right user-settings'>
					<i class='username' id="loggedInUser"></i>
					<i class="icon-logout menu-icon c-pointer logout-btn" title="Logout" aria-hidden="true"></i>
				</div>
			</li>-->
			<li class="nav-item dropdown d-none d-lg-flex">
			    <a class="nav-link dropdown-toggle" id="userMenuDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
			        <span class="icon-user"></span>
			        <span class='username' id="loggedInUser"></span>
			    </a>
			    <div class="dropdown-menu navbar-dropdown" aria-labelledby="userMenuDropdown">
			        <a class="dropdown-item font-weight-medium" href="profile.html">
			            <i class="icon-user"></i>
			            Edit Profile
			        </a>
			        <div class="dropdown-divider"></div>
			        <a class="dropdown-item font-weight-medium logout-btn" href="#">
			            <i class="icon-logout"></i>
			            Logout
			        </a>
				</div>
			</li>
		</ul>
	</div>