<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav m-0" id="main-menu-navigation">
		<li class="nav-item">
		  <a href="index.html" class="nav-link">
			<i class="icon-rocket menu-icon"></i>
			<span class="menu-title menu-page-title">Dashboard</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a href="upld-invc.html" class="nav-link">
			<i class="icon-plus menu-icon"></i>
			<span class="menu-title menu-page-title">Upload Invoices</span>
		  </a>
		</li>
		<li class="nav-item d-none d-lg-block">
		  <a href="rcvd-invc.html" id="" class="nav-link" href="#">
			<i class="icon-arrow-down-circle menu-icon"></i>
			<span class="menu-title menu-page-title">Received Invoices</span>
		  </a>
		</li>
		<li class="nav-item has-child">
		  <a class="nav-link has-child" href="#autoPaySubMenus" data-toggle="collapse" aria-expanded="true">
			<i class="icon-shuffle menu-icon"></i>
			<span class="menu-title">Auto Pay</span>
		  </a>
		  <div class="collapse show" id="autoPaySubMenus">
			<ul class="nav flex-column sub-menu">
				<li class="nav-item">
				  <a href="auto-invc-pymt.html" class="nav-link">
					<i class="icon-plus menu-icon"></i>
					<span class="menu-page-title">Automate Invoice Payment</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a href="aprv-invc-pymt.html" class="nav-link">
					<i class="icon-check menu-icon"></i>
					<span class="menu-page-title">Approve Invoice Payment</span>
				  </a>
				</li>
			</ul>
		  </div>
		</li>
		<li class="nav-item has-child">
		  <a class="nav-link collapsed has-child" href="#cashMgmtMenus" data-toggle="collapse" aria-expanded="true">
			<i class="icon-wallet menu-icon"></i>
			<span class="menu-title">Cash Management</span>
		  </a>
		  <div class="collapse show" id="cashMgmtMenus">
			<ul class="nav flex-column sub-menu">
				<li class="nav-item"> 
					<a class="nav-link" href="import-ebs-file.html">
						<i class="icon-cloud-upload menu-icon"></i>
						<span class="menu-page-title">Import EBS</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="vldt-trans.html">
						<i class="icon-equalizer menu-icon"></i>
						<span class="menu-page-title">Validate Transactions</span>
					</a>
				</li>
			</ul>
		  </div>
		</li>
		<li class="nav-item">
		  <a href="acct-rcvbl.html" class="nav-link">
			<i class="icon-plus menu-icon"></i>
			<span class="menu-title menu-page-title">Accounts Receivable</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a href="acct-pybl.html" class="nav-link">
			<i class="icon-arrow-up-circle menu-icon"></i>
			<span class="menu-title menu-page-title">Accounts Payable</span>
		  </a>
		</li>
		<li class="nav-item d-none d-lg-block">
			<div class="spacer">
				<div class="progress progress-sm">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</li>
		<li class="nav-item has-child">
		  <a class="nav-link has-child" href="#setupList" data-toggle="collapse" aria-expanded="true">
			<i class="icon-settings menu-icon"></i>
			<span class="menu-title">Settings</span>
		  </a>
		  <div class="collapse show" id="setupList">
			<ul class="nav flex-column sub-menu">
				<li class="nav-item"> 
					<a class="nav-link" href="bank-setup.html">
						<i class="icon-briefcase menu-icon"></i>
						<span class="menu-page-title">Bank</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="cmpy-setup.html">
						<i class="icon-layers menu-icon"></i>
						<span class="menu-page-title">Company</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="vndr-setup.html">
						<i class="icon-people menu-icon"></i>
						<span class="menu-page-title">Vendor</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="access-setting.html">
						<i class="icon-globe menu-icon"></i>
						<span class="menu-page-title">Access</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="type-code-map.html">
						<i class="icon-people menu-icon"></i>
						<span class="menu-page-title">Type Code Mapping</span>
					</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link" href="check-lot-maint.html">
						<i class="icon-credit-card menu-icon"></i>
						<span class="menu-page-title">Check Lot Maintenance</span>
					</a>
				</li>
			</ul>
		  </div>
		</li>
	</ul>
</nav>